@use "../../colors.scss" as *;

.focused,
.inactive {
  background: none;
  border: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.focused {
  background: $primary_container;
}
