@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @primary;
}

.modules-left {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background: @background;
    color: @primary;
    padding: 0.5rem;
    border-radius: 2rem;
}

.modules-center {
    margin-top: 0.5rem;
    background: @background;
    color: @primary;
    padding: 0.5rem;
    border-radius: 2rem;
}

.modules-right {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background: @background;
    color: @primary;
    padding: 0.5rem;
    border-radius: 2rem;
}


tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: @primary;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-radius: 0.5rem;
    color: @primary;
}

#workspaces button.active {
    background: @primary_container;
}

#mode, #clock, #battery {
    padding: 0 6px;
    border-radius: 0.5rem;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid @primary;
}

#clock {
    background-color: @primary_container;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: @primary;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: @primary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power-button {
    margin-left: 4px;
    margin-right: 6px;
}
